<div class="form-outer">
    <div class="form-element">
        <label for="date">Datum</label>
        <input #date id="date" type="date" required [ngModel] ="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event">
    </div>
    <div class="form-element form-time">
        <label for="startTime">Startzeit</label>
        <input #startTime id="startTime" type="time" required />
    </div>
    <div class="form-element form-time">
        <label for="endTime">Endzeit</label>
        <input #endTime id="endTime" type="time" required />
    </div>
    <div class="form-element">
        <label for="worker">Mitarbeiter</label>
        <select #worker id="worker" required>
            <option disabled selected>Bitte auswählen</option>

            <ng-container *ngFor="let worker of workerList">
                <option>{{ worker[0] }}</option>
            </ng-container>
        </select>
    </div>
    <div class="form-element form-submit">
        <button (click)="add(date.value, startTime.value, endTime.value, worker.value)">Bestätigen</button>
    </div>

    <div class="form-element form-response" id="form-response"></div>

</div>