<div>
    <div>
        <label>Datum</label>
        <input type="text" />
    </div>
    <div>
        <label>Startzeit</label>
        <input type="text" />
    </div>
    <div>
        <label>Endzeit</label>
        <input type="text" />
    </div>
    <div>
        <label>Mitarbeiter</label>
        <select>
            <option>Christoph Ratzinger</option>
            <option>Steffen Arbeit</option>
            <option>Julian Frei</option>
        </select>
    </div>
    <div>
        <button (click)="add()">Bestätigen</button>
    </div>
</div>