$maincolor: #c2185b;

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

html, body {
    height: 100%;
}

html{
    &.darkmode{
        filter: invert(1);
    }
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    background-color: #eee;
}